{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <body>
        <title>Create a new Post!</title>
    </head>
    <h1>Create a new post</h1>
        <form method="post">
            <label>
                <div>Title:</div>
                <input type="text" name="title" value ="{{title}}">
            </label>
            <br>
            <label>
                <div>Body:</div>
                <textarea name="body">{{body}}</textarea>
            </label>

            <div class="error">{{error}}</div>
            <input type="submit">
        </form>

        <hr>
    </body>
</html>
{% endblock %}
