{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <body>
            <h2> Blog Posts: </h2>

            <ul>
            {% for post in posts %}
                <li>
                    <form action="/newpost" method="post">
                        <div class="post">
                            <div class="post-title">{{post.title}}</div>
                            <pre class="post-body">{{post.body}}</pre>
                        </div>
                    </form>
                </li>
            {% endfor %}
            </ul>
        </body>
    </head>
</html>
{% endblock %}
